<div class="w-full md:w-64 bg-white rounded-xl shadow-md p-4 h-fit sticky top-24">
    <div class="flex items-center space-x-4 mb-6">
        <img src="{{if .ProfileImage}}{{.ProfileImage}}{{else}}/static/defaltProfile.png{{end}}" alt="Profile Image" class="w-16 h-16 rounded-full object-cover border-2 border-indigo-600">
        <div>
            <h3 class="font-semibold text-gray-900">{{.UserData.First_name}} {{.UserData.Last_name}}</h3>
            <p class="text-sm text-gray-500">{{.UserName}}</p>
        </div>
    </div>
    <nav class="space-y-2">
        <a href="/profile" class="tab-button w-full text-left px-4 py-2 rounded-lg font-medium {{if eq .ActiveTab "profile"}}active{{end}}" data-tab="profile">
            <i class="fas fa-user-circle mr-2"></i>Profile Information
        </a>
        <br>
        <br>
        <a href="/profile/change-password" class="tab-button w-full text-left px-4 py-2 rounded-lg font-medium {{if eq .ActiveTab "password"}}active{{end}}" data-tab="password">
            <i class="fas fa-lock mr-2"></i>Change Password
        </a>

        <br><br>
        <a href="/profile/add-address" class="tab-button w-full text-left px-4 py-2 rounded-lg font-medium {{if eq .ActiveTab "addresses"}}active{{end}}" data-tab="addresses">
            <i class="fas fa-map-marker-alt mr-2"></i>Addresses
        </a>
        <br>
        <br>
        <a href="/orders" class="tab-button w-full text-left px-4 py-2 rounded-lg font-medium {{if eq .ActiveTab "orders"}}active{{end}}" data-tab="orders">
            <i class="fas fa-shopping-bag mr-2"></i>Orders
        </a>
        <br>
        <br>
        <a href="/wallet" class="tab-button w-full text-left px-4 py-2 rounded-lg font-medium {{if eq .ActiveTab "wallet"}}active{{end}}" data-tab="wallet">
            <i class="fas fa-wallet mr-2"></i>Wallet
        </a>
        <br>
        <br>
        <a href="/refral" class="tab-button w-full text-left px-4 py-2 rounded-lg font-medium {{if eq .ActiveTab "wallet"}}active{{end}}" data-tab="wallet">
            <i class="fas fa-wallet mr-2"></i>Refer and earn
        </a>
    </nav>
</div>